QUESTION 1

In [1]:
print("NAME : MOHIT JANGID")
print("ROLL NO : 18EJICS092")
print("SECTION : B")

NAME : MOHIT JANGID
ROLL NO : 18EJICS092
SECTION : B

In [ ]:
def get_percentage(s):
    per=(s)/1000
    per=per*100
    return(per)


def out(per,name,s):
    print("TOTAL MARKS = 1000")
    print("NAME "+ name)
    print("TOTAL OBTAINED MARKS  = "+str(s))
    print("PERCENTAGE  = "+str( per)+"%")
    if(per>75.0):
        print("IMPRESSIVE")
    elif(per<75.0 and per>50.0):
        print("KEEP TRYING")
    else:
        print("FAIL")

In [ ]:
print("NAME : MOHIT JANGID")
print("ROLL NO : 18EJICS092")
print("SECTION : B")

n=int(input("ENTER NUMBER OF STUDENTS "))
for i in range(0,n):
    name=input("ENTER NAME ")
    mid_1=int(input("ENTER MARKS FOR MID TERM 1 "))
    mid_2=int(input("ENTER MARKS FOR MID TERM 2 "))
    sport=int(input("ENTER MARKS FOR SPORTS ACTIVITY "))
    extra_1=int(input("ENTER MARKS FOR EXTRA ACTIVITY 1 "))
    extra_2=int(input("ENTER MARKS FOR EXTRA ACTIVITY 2 "))
    extra_3=int(input("ENTER MARKS FOR EXTRA ACTIVITY 3 "))
    s=mid_1+mid_2+sport+extra_1+extra_2+extra_3
    mid_total=mid_1+mid_2
    extras=extra_1+extra_2+extra_3
    pert=get_percentage(s)
    out(pert,name,s)

NAME : MOHIT JANGID
ROLL NO : 18EJICS092
SECTION : B
ENTER NUMBER OF STUDENTS 2
ENTER NAME MOHIT JANGID
ENTER MARKS FOR MID TERM 1 245
ENTER MARKS FOR MID TERM 2 247
ENTER MARKS FOR SPORTS ACTIVITY 185
ENTER MARKS FOR EXTRA ACTIVITY 1 95
ENTER MARKS FOR EXTRA ACTIVITY 2 85
ENTER MARKS FOR EXTRA ACTIVITY 3 90
TOTAL MARKS = 1000
NAME MOHIT JANGID
TOTAL OBTAINED MARKS  = 947
PERCENTAGE  = 94.69999999999999%
IMPRESSIVE

gcd(QUESTION 2)

In [ ]:
def gcd(m,n):
    if(m==n):
        return(m)
    else:
        if(n>m):
            x=n-m
        else:
            x=m-n
        y=min(n,m)
        #print(y)
        return(gcd(x,y))

In [6]:
print("NAME : NISHA SHARMA")
print("ROLL NO : 18EJICS105")
print("SECTION : B")

print("- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - -- ")

m=int(input("ENTER FIRST NUMBER : "))
n=int(input("ENTER SECOND NUMBER : "))
g=gcd(m,n)
print("GCD OF NUMBER "+str(m)+" AND "+str(n)+" IS :"+str(g))

NAME : NISHA SHARMA
ROLL NO : 18EJICS105
SECTION : B
- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - --
ENTER FIRST NUMBER : 48
ENTER SECOND NUMBER : 60
GCD OF NUMBER 48 AND 60 IS :12

QUESTION 13- WEATHER

In [8]:
print("NAME : NISHA SHARMA")
print("ROLL NO : 18EJICS105")
print("SECTION : B")

print("- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - -- ")
week_days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

# get user input for each day and convert to ints
temps  = map(int,[input("Enter temp for {}".format(week_days[i])) for i in range(7)])
# make dict with days as keys and temps as values
zipped = dict(zip(week_days,temps))

print("Daily Temps:")
print(" Monday: {Mon} Tuesday: {Tue} Wednesday: {Wed} Thursday: {Thu} Friday: {Fri} Saturday: {Sat} Sunday: {Sun}".format(**zipped))
values = zipped. values()
total=sum(values)
print(total)
avg=total/7

print("Average Temp for the week:",avg)

NAME : NISHA SHARMA
ROLL NO : 18EJICS105
SECTION : B
- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - --
Enter temp for Mon23
Enter temp for Tue34
Enter temp for Wed21
Enter temp for Thu33
Enter temp for Fri25
Enter temp for Sat32
Enter temp for Sun21
Daily Temps:
 Monday: 23 Tuesday: 34 Wednesday: 21 Thursday: 33 Friday: 25 Saturday: 32 Sunday: 21
189
Average Temp for the week: 27.0

QUESTION 14- PATTERN

In [9]:

def pattern(s):
    n=0
     
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, len(s)):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(n, i+1):
            n=n+1
            print(s[:i+1] ,end="")
      
        # ending line after each row
        print("\r")

In [10]:
def pattern2(s):
    n=0
     
    # number of spaces
    k = 2*len(s) - 2
 
    # outer loop to handle number of rows
    for i in range(0, len(s)+1):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(n, i+1):
            n=n+1
         
            # printing stars
            print(s[:i], end="")
     
        # ending line after each row
        print("\r")

In [11]:

print("NAME : NISHA SHARMA")
print("ROLL NO : 18EJICS105")
print("SECTION : B")

print("- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - -- ")
s='18EICS105'
pattern(s)
pattern2(s)

NAME : NISHA SHARMA
ROLL NO : 18EJICS105
SECTION : B
- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - --
1
18
18E
18EI
18EIC
18EICS
18EICS1
18EICS10
18EICS105

               1
              18
             18E
            18EI
           18EIC
          18EICS
         18EICS1
        18EICS10
       18EICS105